@page
@model OCD.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    <div class="text-center">
        <h1 class="display-4">Password Reset</h1>
        <p>Your password has been successfully reset. You can now log in with your new password.</p>
        <a asp-page="./Login" class="btn" style="background:#f48121; color:white">Go to Login</a>
    </div>
}


