@page
@model OCD.Areas.Identity.Pages.Account.ResetPasswordModel
@{
    <div class="d-flex align-items-center justify-content-center min-vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-4">
                    <div class="card shadow-2-strong" style="background-color:#f5f7fa; padding: 2rem 1rem;">
                        <div class="card-body">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" class="form-control form-control-sm" autocomplete="email" aria-required="true" placeholder="Email">
                                    <label asp-for="Input.Email"></label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Password" class="form-control form-control-sm" autocomplete="new-password" aria-required="true" placeholder="New Password">
                                    <label asp-for="Input.Password"></label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.ConfirmPassword" class="form-control form-control-sm" autocomplete="new-password" aria-required="true" placeholder="Confirm New Password">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                </div>
                                <input type="hidden" asp-for="Input.Code" />
                                <div class="mb-3">
                                    <button type="submit" class="w-100 btn btn-sm" style="background:#f48121; color:white">Reset Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


