@using Microsoft.EntityFrameworkCore
@using OCD.Data
@using OCD.Models
@using OCD.Services
@using OCD.Services.CampaignRequestService
@using System.Security.Claims
@inject IDbContextFactory<DataContext> DbContextFactory
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject ICampaignRequestService CampaignRequestService
@inject IEmailService EmailService

<MudDialog>
    <DialogContent>
        <MudForm @bind-IsValid="isValid" @ref="form">
            <MudCheckBox @bind-Value="isTested" Label="I have tested the new campaign & received a call back" />
            <MudCheckBox @bind-Value="isVerified" Label="I have verified with agent that brand/tracking code/vdn is correct" />
            <MudCheckBox @bind-Value="isConfirmed" Label="I have confirmed with agent to close contact/lead as a test" />
            <MudCheckBox @bind-Value="isApproved" Label="I have approved the campaign to go live" />
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" OnClick="Cancel">Cancel</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Warning" Disabled="!isValid" OnClick="Submit">Submit</MudButton>
    </DialogActions>
</MudDialog>

@code {
    private MudForm form;
    private bool isValid;

    private bool isTested = false;
    private bool isVerified = false;
    private bool isConfirmed = false;
    private bool isApproved = false;
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public int CampaignRequestId { get; set; }
    private ApplicationUser LoggedInUser { get; set; }
    private CampaignRequest Campaign { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {

        Campaign = await CampaignRequestService.GetCampaignRequestByIdAsync(CampaignRequestId);

    }
    private async Task Submit()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var name = user.FindFirst(ClaimTypes.GivenName)?.Value;
        var surname = user.FindFirst(ClaimTypes.Surname)?.Value;
        if (form.IsValid)
        {
            if (isTested && isVerified && isConfirmed && isApproved)
            {
                using (var context = await DbContextFactory.CreateDbContextAsync())
                {
                    Campaign.IsConfirmedByRequester = true;
                    context.Update(Campaign);
                    var result = await context.SaveChangesAsync();
                    if (result > 0)
                    {
                        string message = $@"
                <html>
                <body>
                    <p>Dear Team,</p>
                    <p><strong>{name} {surname}</strong> has confirmed the following:</p>
                    <ul>
                        <li>I have tested the new campaign & received a call back.</li>
                        <li>I have verified with the agent that brand/tracking code/VDN is correct.</li>
                        <li>I have confirmed with the agent to close contact/lead as a test.</li>
                    </ul>
                </body>
                </html>";
                        await EmailService.SendTestEmail("Test VDN Confirmation", message);

                        Snackbar.Add("Confirmation email has been sent to Ops team", Severity.Success);
                        NavigationManager.NavigateTo("/requester-dashboard");
                    }
                    else
                    {
                        Snackbar.Add("Failed to send confirmation", Severity.Error);
                    }

                }
            }
        } else {
            Snackbar.Add("Please confirm all the checkboxes", Severity.Error);
        }




        MudDialog.Close();
    }
    private void Cancel()
    {
        MudDialog.Cancel();
    }
}
